*{
    font-family: "Expletus Sans", sans-serif;
    color: white;
}

:root{
    --background: #15152c;/*0f151b*//*15152c*/
    --button: #232349;/*131d27*/
}

#body{
    /*background-color: var(--background);*/
    background-image: linear-gradient(to right, #4c2a85, #6b7fd7);/*4c2a85*//*6b7fd7*/
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    background-color: var(--button);
    border-style: none;
    text-align: center;
    cursor: pointer;
}
