
.container-main{
    margin-top: 7vh;
    margin-bottom: 18vh;
    flex: 1;
}
.addOpacity{
    animation: fadeIn 2s forwards;
}

.col1-main,
.col2-main,
.col3-main{
    text-align: center;
}

.col1-main{
    margin-bottom: 0;
}

.col2-main{
    margin-top: 15px;
    margin-bottom: 25px;
    display: block;
}

.col3-main{
    margin-top: 0;
    margin-bottom: 20px;
}


.hey{
    font-size: 42px;
}

/*
.addOpacity{
    animation: fadeIn 2s forwards;
}
*/


.name{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 18px;
}
/*
.addOpacityName{
    animation: fadeIn 4s forwards;
}
*/
.cool{
    text-decoration: underline;
    animation: changeColor 10s infinite;
    margin-right: 5px;
    margin-left: 5px;
}


.about{
    margin-bottom: 5px;
}
/*
.addOpacityAbout{
    animation: fadeIn 10s forwards;
}
*/

.studying{
    font-size: 15px;
    margin-top: 0px;
}
/*
.addOpacityStudying{
    animation: fadeIn 8s forwards;
}
*/
.pic{
    height: 50vh;
    border-radius: 3%;
}

.addShadowColor{
    animation: changeShadowColor 10s infinite;
}

/*
.addOpacityPic{
    animation: fadeIn 6s forwards, changeShadowColor 10s infinite;
}
*/


.addSlideIn{
    animation: slideIn 1.2s forwards;
}

.addSlideOut{
    animation: slideOut 1.2s forwards;
}

.addSlideDown{
    animation: slideDown 1.2s forwards;
}

.addSlideTop{
    animation: slideTop 1.2s forwards;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes changeShadowColor{
    0% { box-shadow: 0 0 15px rgb(255, 0, 0); } 
    16.666% { box-shadow: 0 0 15px rgb(255, 255, 0); } 
    33.333% { box-shadow: 0 0 15px rgb(0, 255, 0); } 
    50% { box-shadow: 0 0 15px rgb(0, 255, 255); } 
    66.666% { box-shadow: 0 0 15px rgb(0, 0, 255); } 
    83.333% { box-shadow: 0 0 15px rgb(255, 0, 255); } 
    100% { box-shadow: 0 0 15px rgb(255, 0, 0); } 
}

@keyframes changeColor{
    0% { color: rgb(255, 0, 0); } 
    16.666% { color: rgb(255, 255, 0); } 
    33.333% { color: rgb(0, 255, 0); } 
    50% { color: rgb(0, 255, 255); } 
    66.666% { color: rgb(0, 0, 255); } 
    83.333% { color: rgb(255, 0, 255); } 
    100% { color: rgb(255, 0, 0); } 
}

@keyframes slideIn{
    0%{transform: translateX(-400px);}
    100%{transform: translateX(0px);}
}

@keyframes slideOut{
    0%{transform: translateX(200px);}
    100%{transform: translateX(0px);}
}

@keyframes slideDown{
    0%{transform: translateY(-50px);}
    100%{transform: translateY(0px);}
}

@keyframes slideTop{
    0%{transform: translateY(200px);}
    100%{transform: translateY(0px);}
}