main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button{
    cursor: pointer;
}

.containerNav{
    display: flex;
    height: 35vh;
    padding: 24px;
}

#aboutMeBtn,
#projectsBtn{
    font-size: 35px;
    border-style: none;
}

#aboutMeBtn{
    width: 37.5%;
    margin-right: 2.5%;
    height: 100%;
    color: white;
    background-color: #7484cd;/*d5b9b2*/
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

#aboutMeBtn:hover{
    transform: scale(1.03);
}

#rectangles{
    display: flex;
    flex-direction: column;
    width: 60%;
}

#projectsBtn{
    background-color: #97a3d8;/*56351e*//*a1abd7*/
    width: 100%;
    height: 47.5%;
    margin-bottom: 2.5%;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

#projectsBtn:hover{
    transform: skew(-10deg);
}

#socials{
    background-color: #9daae7;/*a26769*/
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-height: 48.5%;
    max-width: 100%;
}

.logo{
    width: 80px;
    margin: 0;
    padding: 0;
}

.link-animation{
    transition: scale 3s, rotate 1.5s;
}

.link-animation:hover{
    scale: 1.2;
    rotate: 360deg;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.heading{
    /*background-color: #131d27;*/
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    max-width: 800px;
    line-height: 35px;
    /*background-color: #131d27;*/
    font-size: 22px;
    border-radius: 5px;
    padding: 12px;
}

/*
.left{
   align-items: right;
}

.col1-header{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2-header{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #131d27;
}

.troll{
    width: 50%;
    height: 100%;
    border-right: 3px solid black;
}

.projects{
    width: 50%;
    height: 100%;
    background-color: #131d27;
    text-align: center;
    align-items: center;
}

.text-in-buttons{
    font-family: 'Expletus Sans';
    font-size: 35px;
}*/
