@media (min-width: 150px) and (max-width: 549px){
    .menu{
        font-size: 20px;
    }

    .projectContainer{
        height: 12vh;
        padding: 9px;
    }

    .example{
        width: 80px;
        border-radius: 12px;
    }

    h4{
        font-size: 12px;
    }

    p{
        font-size: 10px;
    }

    .text > p{
        font-size: 10px;
        margin: 0;
    }

    .text{
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 550px) and (max-width: 999px){
    
}