@media (min-width: 150px) and (max-width: 549px) {
    .containerNav{
        height: 10svh;
    }

    #aboutMeBtn,
    #projectsBtn{
        font-size: 20px;
    }

    #socials{
        gap: 25px;
    }

    .col3-main{
        padding: 12px;
    }

    .logo{
        width: 25px;
    }


    .heading{
        font-size: 25px;
    }

    .text{
        max-width: 300px;
    }
    

}

@media (min-width: 550px) and (max-width: 999px) {

    .heading{
        width: 30vw;
        padding: 12px;
    }

    .text{
        max-width: 600px;
        margin-right: 12px;
        margin-left: 12px;
    }
}
